@font-face{
    font-family: "Arcon-Regular";
    src: url('fonts/Arcon-Regular.otf'),
    url('fonts/Arcon-Regular.otf'); /* IE */
}

body, html {
	font-family: Arcon-Regular;
	background: rgb(25,25,25);
	color: white;
	width: 100%;
	padding: 0;
	margin: 0;
}

body { 
	
	width: 100%;
	text-align: center;
}

.infographic {
	width: 50%;
	min-width: 512px;
	height:auto;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

.playContainer{
	width: 200px;
	margin-left: auto;
	margin-right: auto;
}

.play {
	width: 200px;
	padding: 10px;
	background: #C336D3;
	border-radius: 10px;
}

.play:hover {
	background: #4F1057;
}

.playContainer a {
	width: 200px;
	color: black;
	font-size: 36px;
	font-weight: bolder;
  	text-decoration: none; /* no underline */
}

.info{
	width: 50%;
	min-width: 512px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}